* {
  box-sizing:border-box;
}

html, body {
  height: 100%;
  width: 100%;
  padding:0;
  margin:0;
  background: #D89674;
}

/* outer */

.login {
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #8762d3;
  border: none;
  font-size: 24px;
  color: #fff;
}

#wrapper {
  display: none;
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 500px;
  float: right;
  padding:0;
  margin:0;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

#wrapper.active {
  display: block;
}

/* page header */

.nav-header {
  width:100%;
  height: 60px;
  text-align:center;
  background: #fff;
  border-bottom: 2px solid #C3B0E9;
}

.nav-header-title {
  font-size: 24px;
  line-height: 60px;
  color: #C3B0E9;
  font-weight: 200;
}

.sm-header {
  display: none;
  position: absolute;
  line-height: 60px;
  text-decoration: none;
  font-size: 12px;
  color: #000;
}

.sm-header.left {
  left: 10px;
}

.sm-header.right {
  right: 10px;
}

.sm-header.active {
  display: inline-block;
}

/* responsive sidebar */

#page-wrapper {
  width: 100%;
  position: absolute;
  top: 60px;
  bottom: 0;
  color:#dedede;
  background-color: #fff;
}

#page-wrapper.logged-in {
  top: 110px;
}

#page-wrapper.logged-in.sm-hide {
  top: 60px;
}

#sidebar {
  height: 100%;
  width: 0;
  position: relative;
  left: 100%;
  float: left;
  overflow: auto;
  background: #C3B0E9;
  min-height: 400px;
}

#sidebar.active {
  width: 100%;
  left: 0;
  z-index: 1; /*over content message boards*/
}

#sidebar.sm-hide {
  width: 0;
}

#content-wrapper {
  height: 100%;
  width: 100%;
  float: right;
  position: absolute;
}

#content {
  height: 100%;
  position: relative;
  clear: both;
  overflow: auto;
  background: green;
}

/* subheader */

.subheader {
  display: none;
  height: 50px;
  width: 100%;
  background: #9674D8;
}

.subheader.active {
  display: block;
}

#sidebar-nav {
  display: none;
  height: 50px;
  width: 100%;
  background: #C3B0E9;
}

#sidebar-nav.active {
  display: block;
}

.sidebar-nav-button {
  height: 100%;
  width: 33.33333333%;
  display: inline-block;
  background: #9674D8;
  color: black;
  float: left;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  text-decoration: none;
}

.sidebar-nav-button:focus,
.sidebar-nav-button:hover {
  background: #555;
}

.sidebar-nav-button.active {
  background: #C3B0E9;
}

/* sidebar */

.channel-container {
  display: none;
}

.channel-container.active {
  display: block;
}

.join {
  height: 40px;
  width: 100%;
  position: relative;
  background: #f0f0f0;
  border-bottom: 2px solid #C3B0E9;
  border-right: 2px solid #C3B0E9;
  font-size: 16px;
  color: #000;
  text-align: center;
  line-height: 40px;
}

.join:focus,
.join:hover {
  background: #C3B0E9;
  color: #fff;
}

.join.pending {
  background: #f9f9f9;
}

.join.unread-messages {
  border-left: 5px solid #8762d3;
}

.join-channel-unread-count {
  display: none;
  position: absolute;
  top: 5px;
  right: 10px;
  background: #8762d3;
  line-height: 10px;
  padding: 10px;
  border-radius: 20px;
  color: #fff;
}

.join-channel-unread-count.active {
  display: block;
}

.leave-channel {
  display: inline-block;
  position: absolute;
  left: 10px;
  line-height: 40px;
}

.leave-channel.active {
  display: inline-block;
}

/* message board */

.content-container {
  display: none;
  height: 80%;
  height: calc(100% - 92px);
  width: 100%;
}

.content-container.active {
  display: block;
}

.message-board {
  display: none;
  background-color: #f0f0f0;
  padding: 10px;
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.message-board.active {
  display: block;
}

.info {
  margin:5px 0;
  font-style:italic;
}

.message-container {
  margin:5px 0;
  color:#fff;
}

.message-container.me {
  text-align: right;
}

.username,
.timestamp {
  display: block;
  margin: 5px 10px;
  font-size: 75%;
  color: #999;
}

.username.me {
  color: #8762d3;
}

.timestamp {
  font-size: 65%;
  font-style: italic;
}

.message {
  display: inline-block;
  max-width: 90%;
  margin: 0;
  background: #8762d3;
  padding: 7px 10px;
  border-radius: 7px;
  color: #000;
  word-break: break-word;
  word-wrap: break-word;
}

.message.me {
  background: #999;
}

/* footer */

#content-footer {
  /*height: 20%;*/
  height: 92px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #8762d3;
}

#chat-input {
  display: block;
  width: 95%;
  height: 72px;
  position: absolute;
  bottom: 0;
  margin: 10px 2.5%;
  outline: none;
  background-color: #fff;
  border: none;
  padding: 5px;
  font-size: 20px;
  color: #000;
  word-wrap: break-word;
  word-break: break-word;
  resize: none;
  overflow: hidden;
}

@media screen and (min-width: 400px){
  /*outer*/

  .login {
    height: 100px;
    width: 100px;
    bottom: 20px;
    right: 20px;
    border-radius: 50px;
  }

  /* page header */

  .sm-header.left {
    display: none;
  }

  .sm-header.right {
    display: inline-block;
  }

  /* responsive sidebar */

  #page-wrapper {
    width: 100%;
    position: absolute;
    top: 60px;
    bottom: 0;
    color:#dedede;
    background-color: #fff;
  }

  #page-wrapper.logged-in.sm-hide {
    top: 110px;
  }

  #sidebar {
    height: 100%;
    position: relative;
    margin-right: -200px;
    float: left;
    overflow: auto;
    background: #C3B0E9;
    min-height: 400px;
  }

  #sidebar.active {
    width: 200px;
  }

  #sidebar.sm-hide {
    width: 200px;
  }

  #content-wrapper {
    height: 100%;
    width: 100%;
    float: right;
  }

  #content.sidebar-active {
    margin-left: 200px;
  }

  /* subheader */

  #sidebar-nav {
    width: 200px;
  }

  /* sidebar */

  .join.active {
    background: #9674D8;
    color: #fff;
  }

  .leave-channel {
    display: none;
  }

  /* message board */

  /* footer */


}
