* {
  box-sizing:border-box;
}

html, body {
  height: 100%;
  width: 100%;
  padding:0;
  margin:0;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.login {
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #8762d3;
  border: none;
  font-size: 24px;
  color: #fff;
}

#wrapper {
  display: none;
}

#wrapper.active {
  display: block;
}

/* page header */

.nav-header {
  width:100%;
  height: 60px;
  text-align:center;
  background: #fff;
  border-bottom: 2px solid #C3B0E9;
  font-size: 30px;
}

.nav-header-title {
  font-size: 36px;
  line-height: 60px;
  color: #C3B0E9;
  font-weight: 200;
}

/* responsive sidebar */

#page-wrapper {
  width: 100%;
  position: absolute;
  top: 60px;
  bottom: 0;
  color:#dedede;
  background-color: #fff;
}

#sidebar {
  height: 100%;
  width: 200px;
  position: relative;
  margin-right: -200px;
  float: left;
  overflow: auto;
  background: #C3B0E9;
  min-height: 400px;
}

#content-wrapper {
  height: 100%;
  width: 100%;
  float: right;
}

#content {
  height: 100%;
  position: relative;
  margin-left: 200px;
  clear: both;
  overflow: auto;
  background: green;
}

/* subheader */

.subheader {
  display: none;
  height: 50px;
  width: 100%;
  background: #9674D8;
}

.subheader.active {
  display: block;
}

#sidebar-nav {
  display: none;
  height: 50px;
  width: 200px;
  background: #C3B0E9;
}

#sidebar-nav.active {
  display: block;
}

.sidebar-nav-button {
  height: 100%;
  width: 33.33333333%;
  display: inline-block;
  color: black;
  float: left;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

.sidebar-nav-button:focus,
.sidebar-nav-button:hover {
  background: #555;
}

.sidebar-nav-button.active {
  background: blue;
}

.channel-container {
  display: none;
}

.channel-container.active {
  display: block;
}

.content-container {
  display: none;
}

.content-container.active {
  display: inline-block;
  height: 80%;
  width: 100%;
}

.join {
  height: 40px;
  width: 100%;
  margin-top: 5px;
  background: #f0f0f0;
  font-size: 16px;
  color: #000;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.join.pending {
  background: #f9f9f9;
}

.join.active {
  background: blue;
  color: #fff;
}

.join.unread-messages {
  border-left: 5px solid #8762d3;
}

#chat-input {
  display:block;
  height:52px;
  margin:10px auto;
  outline:none;
  background-color:#fff;
  border:none;
  /*border-bottom:1px solid #2B2B2A;*/
  padding:0;
  font-size:42px;
  color:#000;
}

.messages,
.other {
  display: none;
  background-color: #999;
  padding: 10px;
  height: 100%;
  margin:0 auto;
  overflow-y:auto;
}

.messages.active,
.other.active {
  display: block;
}

.messages p {
  margin:5px 0;
  padding:0;
}

.info {
  margin:5px 0;
  font-style:italic;
}

.timestamp {
  margin-left: 15px;
  font-size: 75%;
  color: navy;
}

.message-container {
  margin:5px 0;
  color:#fff;
}

.message-container .username {
  display:inline-block;
  margin-right:5px;
  font-weight:bold;
  color:#849091;
}

.me, .username.me {
  font-weight:bold;
  color:cyan;
}

.message-container .username.me {
  display:inline-block;
  margin-right:5px;
}

@media screen and (min-width: 400px){
  .login {
    height: 100px;
    width: 100px;
    bottom: 20px;
    right: 20px;
    border-radius: 50px;
  }

  /* responsive sidebar */

  #page-wrapper {
    width: 100%;
    position: absolute;
    top: 60px;
    bottom: 0;
    color:#dedede;
    background-color: #fff;
  }

  #sidebar {
    height: 100%;
    width: 200px;
    position: relative;
    margin-right: -200px;
    float: left;
    overflow: auto;
    background: #C3B0E9;
    min-height: 400px;
  }

  #content-wrapper {
    height: 100%;
    width: 100%;
    float: right;
  }

  #content {
    height: 100%;
    position: relative;
    margin-left: 200px;
    clear: both;
    overflow: auto;
    background: green;
  }
}
